 .header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 100;
 }

 .header:hover{
  cursor: pointer;
 }


 .left-section{
   display: flex;
   align-items: center;
 }

 .menu{
   height: 24px;
   margin-left: 24px;
   margin-right: 24px;
 }

 .logo{
   height: 20px;
 }

 .middle-section{
   display: flex;
   flex: 1;
   align-items: center;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;  
 }

 .searchbar{
  height: 36px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(167, 162, 162);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.07); 
  width: 0 ;
 }

 .searchbar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
 }

 .search-button{
  height: 40px;
  width: 66px;
  margin-right: 10px;
  background-color: rgb(240, 240, 240);
  border-color: rgb(167, 162, 162);
  border-style: solid;
  border-width: 1px;
  margin-left: -1px;
 }

 .search-button,
 .voice,
 .upload-container,
 .apps-container,
 .notif-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .search-button .tooltip,
 .voice .tooltip,
 .upload-container .tooltip,
 .apps-container .tooltip,
 .notif-container .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
 }

 .search-button:hover .tooltip,
 .voice:hover .tooltip,
 .upload-container:hover .tooltip,
 .apps-container:hover .tooltip,
 .notif-container:hover .tooltip{
  opacity: 1;

 }

 .search-icon{
  height: 24px;
 }

 .voice{
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
 }

 .voice-icon{
  height: 25px;
 }

 .right-section{
   width: 200px;
   margin-right: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 0;
 }

 .upload-icon, .apps-icon, .notif-icon{
  height: 25px;
  width: 30px;
 }

 .pro-pic{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
 }

 .notif-bell{
  position: relative;
 } 

 .notif-count{
  position: absolute;
  color: white;
  background-color: rgb(201, 53, 53);
  border-radius:30px;
  top: 0;
  right: 0;
  font-family: Roboto, Arial;
  font-size: 11px;
  font-weight: 500;
  padding: 1px 5px;
 }